.card img {
    height: 250px;
    object-fit: contain;
    padding: 10px;
}

.card {
    height: 100%;
}

.banner {
    background-image: url('../img/banner.png');
    background-size: cover;
    background-position: center;
}

.logo {
    width: 80px;
    height: 80px;
    object-fit: contain;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}